configs/snapshots
work
obj_dir
snapshots
verilator-build
*hello_world*
design/dec/*equations*
transcript
design/decode/espresso
*.vcd
*.csv
*.log
*.exe
*.swp
*.e
*.cpp.s
*.dis
*.map
*.o
*.ini
*.hex
*.wlf
*.do
